body{
  background-color: black;
}

.mynav {
  border-width: 0 0 0 15px;
  border-style: solid;
  border-color: #6a097d;
  height: 70px;
  margin-right: 15px;
}

i{
  border-width: 0 0 0 5px;
  border-style: solid;
  border-color: #6a097d;
}
img{
  width: 100%;
}

.stimg{
  position: -webkit-sticky;
  position: sticky;
  z-index: -1;

}

.selectionMode {
  /* background-color: #6a097d; */
  height: 260px;
  opacity: 60%
}


#chooseMode1 {
  height: 100%;
  width: 100%;
  background-color: #6a097d;
font-size:3vw;
text-align: center;
padding: 0;
border-width: 0;
float: left;
}
#chooseMode2 {
  height: 100%;
  width: 100%;
  background-color: #6a097d;
font-size:3.4vw;
text-align: center;
padding: 0;
border-width: 0;
float: right;
}
#achoose{
  color: white;
padding: 0;
}
